# Network id
CHAIN_ID=4

# etherscan apikey
ETHERSCAN_API_KEY=###

# Gas limit and price
GAS_LIMIT=500000
GAS_PRICE=8000000

# ID project
ALCHEMY_PROJECT_URL=###

# Tokens
# REWARDSTOKEN is a ERC20
# STAKETOKEN is a ERC1155
REWARDS_TOKEN_ADDRESS=###
STAKE_TOKEN_ADDRESS=###

# private key metamask
PRIV ATE_KEY=##
SECOND_PRIVATE_KEY=##
